.account {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 21px;
  padding: 6px 6px 6px 13px;
  width: 77px;
  height: 42px;
  background: #fff;
}

.account_nav-icon {
  display: flex;
  align-items: center;
}

.account_avatar {
  display: flex;
  align-items: center;
}
